@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

body {
  color: #4d4d4d;
}

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #4d4d4d;
  transition: all 300ms ease;
}
.dark .bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #296dff;
}
.dark .bm-burger-bars-hover {
  opacity: 0.7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  /* background: #e1e1e1; */
  font-size: 1.15em;
  height: 100%;
  padding: 20px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #fff;
}

/* Styling of overlay */
.bm-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

@media screen and (max-width: 767px) {
  .bm-burger-button {
    display: block;
    position: absolute;
    width: 26px;
    height: 20px;
    right: 20px;
    top: 16px;
  }
}
